<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg45.jpg')"></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="contact-content">
      <div class="container">
        <div class="row">
          <div class="col-md-5 ml-auto mr-auto">
            <h2 class="title">Send us a message</h2>
            <div class="description mb-4">
              Do you have questions about joining MASTRO? Interested in donating
              or volunteering?

              <h4>
                Contact Melanie Mitchell (President) at
                <br>Phone #: <a href="tel:+1-204-291-7383">+1-204-291-7383</a>
                <br>Email: <a href="mailto:mmpropertieswpg@shaw.ca">mmpropertieswpg@shaw.ca</a>
              </h4>


              <h4>We look forward to hearing from you!</h4>

              <hr />

              <div class="ml-auto mr-auto text-center">
                <header class="text-large">JOIN US ON FACEBOOK</header>
                <a class="btn btn-facebook" href="https://www.facebook.com/groups/manitobaairbnbhostcommunity"
                  target="_blank">
                  <i class="fa fa-facebook-square"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5 ml-auto mr-auto">
            <iframe src="https://cshbuys.com/widget/form/52aVpcaKvLHxisOzFlv8"
              style="width:100%;height:100%;border:none;border-radius:4px" id="inline-52aVpcaKvLHxisOzFlv8"
              data-layout="{'id':'INLINE'}" data-trigger-type="alwaysShow" data-trigger-value=""
              data-activation-type="alwaysActivated" data-activation-value="" data-deactivation-type="neverDeactivate"
              data-deactivation-value="" data-form-name="MASTRO Contact Us Form" data-height="604"
              data-layout-iframe-id="inline-52aVpcaKvLHxisOzFlv8" data-form-id="52aVpcaKvLHxisOzFlv8">
            </iframe>
            <script src="https://cshbuys.com/js/form_embed.js"></script>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12 ml-auto">
        <div class="">
          <div class="description">
            <h3 class="mt-0">Please Note:</h3>
            <ul>
              <li>
                MASTRO is a not-for-profit 501(C)6 organization that is run
                entirely by volunteers. This means our email and social media
                pages are not manned 24/7. MASTRO also does not have a physical
                office nor manned telephones, and we are therefore unable to t
                ake requests for phone calls. We communicate with members
                primarily thru email, in our private members-only Facebook
                group, and in-person at our monthly meetings/events.
                <strong>
                  Our members and friends receive the most out of membership
                  when they are engaged in the private Facebook group and attend
                  our events!</strong>
              </li>
              <li>
                <strong>As a reminder, MASTRO is unable to provide information on
                  specific properties or circumstances to either members or
                  non-members, therefore we are unable to reply to individual
                  messages about such matters.</strong>
                If you are looking for guidance, assistance, or clarity on a
                specific issue related to your property, permit, or STR
                eligibility, we suggest you contact the Codes Department or an
                attorney. (You can find attorney contact information on our
                Friends page.)
              </li>
              <li>
                If you are trying to reach the MASTRO Board, please do not
                message individual Board Members via Facebook, email, or phone.
                If you have a question about your membership or joining the
                Facebook group, please email manitobaSTR@gmail.com and you can
                typically expect email responses within one business week.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>