<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg32.jpg')"></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Join MASTRO</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section pb-0">
    <div class="projects-5 pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <div class="orange-background">
              <h4>
                MASTRO is a not-for-profit organization run by volunteers.
              </h4>
              All dues and donations go largely to funding legal efforts as they
              relate to providing advocacy, representation, and legal advice on
              behalf of MASTRO members as a whole.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-success icon-circle">
                <i class="now-ui-icons education_atom"></i>
              </div>
              <h4 class="info-title">Member</h4>
              <p class="description">
                LIMITED TO OWNERS OF PERMITTED SHORT TERM RENTAL PROPERTIES IN
                THE MANITOBA AREA
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-info icon-circle">
                <i class="now-ui-icons objects_globe"></i>
              </div>
              <h4 class="info-title">Property Manager</h4>
              <p class="description">
                THOSE WHO MANAGE OR CO-HOST FOR OTHERS’ PROPERTIES (THAT THEY
                DON’T PERSONALLY OWN)
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-primary icon-circle">
                <i class="now-ui-icons ui-2_like"></i>
              </div>
              <h4 class="info-title">Friend</h4>
              <p class="description">
                INDIVIDUALS OR BUSINESSES IN THE SHORT TERM RENTAL INDUSTRY &
                SUPPORTERS OF THE STR COMMUNITY
              </p>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="">
              <div class="description">
                <h3 class="mt-0">Please Note:</h3>
                <ul>
                  <li>
                    MASTRO is a not-for-profit 501(C)6 organization that is run
                    entirely by volunteers. This means our email and social
                    media pages are not manned 24/7. MASTRO also does not have a
                    physical office nor manned telephones, and we are therefore
                    unable to t ake requests for phone calls. We communicate
                    with members primarily thru email, in our private
                    members-only Facebook group, and in-person at our monthly
                    meetings/events.
                    <strong>
                      Our members and friends receive the most out of membership
                      when they are engaged in the private Facebook group and
                      attend our events!</strong>
                  </li>
                  <li>
                    <strong>As a reminder, MASTRO is unable to provide information on
                      specific properties or circumstances to either members or
                      non-members, therefore we are unable to reply to
                      individual messages about such matters.</strong>
                    If you are looking for guidance, assistance, or clarity on a
                    specific issue related to your property, permit, or STR
                    eligibility, we suggest you contact the Codes Department or
                    an attorney. (You can find attorney contact information on
                    our Friends page.)
                  </li>
                  <li>
                    If you are trying to reach the MASTRO Board, please do not
                    message individual Board Members via Facebook, email, or
                    phone. If you have a question about your membership or
                    joining the Facebook group, please email
                    <a href="mailto:mmpropertieswpg@shaw.ca">mmpropertieswpg@shaw.ca</a> and you can typically expect
                    email
                    responses within one business week.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>