<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/bg32.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">About Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section pb-0">
    <div class="projects-5 pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Who we are</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 ml-auto">
            <div
              class="card card-background card-background-product card-raised"
              style="background-image: url('assets/img/project8.jpg')"
            >
              <div class="card-body"></div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="info info-horizontal">
              <div class="description">
                <h4 class="mt-0">
                  MASTRO IS THE WINNIPEG AREA SHORT TERM RENTAL ASSOCIATION.
                </h4>
                <p class="description">
                  Our mission is to advance the interests of the vibrant
                  short-term rental industry of Winnipeg and Manitoba through
                  advocacy and education.
                </p>
                <br />
                <p>
                  MASTRO members and friends are comprised of homeowners,
                  concerned citizens, and businesses who support the short term
                  rental community and seek to advocate for fair homesharing in
                  the Manitoba area.
                </p>
                <br />
                <p>
                  We expect our members to follow the law; to behave as good
                  neighbors; and to welcome all guests regardless of race,
                  color, sex, religion, familial status, sexual orientation, or
                  national origin.
                </p>

                <h4>
                  WE BELIEVE THAT RESPONSIBLE HOMESHARING BENEFITS NOT ONLY
                  OURSELVES BUT ALSO OUR CITY AND OUR GUESTS.
                </h4>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-5 ml-auto">
            <div class="info info-horizontal">
              <div class="description">
                <h4 class="mt-0">How You Can Help</h4>
                <p>
                  MASTRO is a not-for-profit 501(C)(6) business league
                  organization run by volunteers. Dues and donations go largely
                  toward funding the land-use attorney and lobbyist whom we have
                  hired to provide advocacy, representation, and legal
                  advice/interpretation on behalf of MASTRO and our members.
                  Dues and donations are tax deductible.
                </p>
                <div class="mt-2">
                  <button class="btn btn-primary mr-1">DONATE</button>
                  <button class="btn btn-info">JOIN MASTRO</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div
              class="card card-background card-background-product card-raised"
              style="background-image: url('assets/img/project9.jpg')"
            >
              <div class="card-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
