<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/bg26.jpg')"
    ></div>
    <div class="content-center">
      <h1 class="title">Manitoba Association of Short Term Rental Owners</h1>
      <div class="text-center">
        <h3>
          Advancing responsible & fair homesharing in Winnipeg Manitoba through
          advocacy & education
        </h3>
        <button class="btn btn-neutral btn-round" [routerLink]="['/joinus']">
          JOIN US ->
        </button>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <h5 class="description">
            The mission of MASTRO (Manitoba Association of Short Term Rental
            Owners Inc) is to advance the interests of the vibrant short-term
            rental industry of Manitoba through advocacy, education, and sharing
            information. We expect our members to follow the law; to behave as
            good neighbors; and to welcome all guests regardless of race, color,
            sex, religion, familial status, sexual orientation, or national
            origin.
          </h5>
          <a [routerLink]="'/joinus'" class="underline">BECOME A MEMBER -></a>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <!-- First image on the left side -->
            <div
              class="image-container image-left"
              style="background-image: url('assets/img/bg38.jpg')"
            ></div>
            <!-- Second image on the left side of the article -->
            <div
              class="image-container image-left-bottom"
              style="background-image: url('assets/img/bg24.jpg')"
            ></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div
              class="image-container image-right"
              style="background-image: url('assets/img/bg39.jpg')"
            ></div>
            <h3>Friends of MASTRO</h3>
            <p>
              We are thankful for the businesses, property management firms, and
              others who stand with us in our advocacy and educational efforts
              as Friends of MASTRO. Their partnership enables us to continue our
              advocacy of property owner rights, enforcement of reasonable
              regulations, and responsible conduct within our neighborhoods.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section services">
    <div class="row">
      <div class="col-md-4 col-sm-12 first">
        <div>
          <h2>Latest News</h2>

          <a
            href="https://www.facebook.com/groups/1884922571692328"
            target="_blank"
            >VISIT OUR FACEBOOK -></a
          >
        </div>
      </div>
      <div class="col-md-4 col-sm-12 second">
        <div>
          <h2>Join MASTRO</h2>

          <a [routerLink]="'/joinus'">BECOME A MEMBER, FRIEND, OR PARTNER -></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 third">
        <div>
          <h2>Donate Today</h2>

          <a [routerLink]="'/donate'">SUPPORT OUR EFFORTS -></a>
        </div>
      </div>
    </div>
  </div>
</div>
