<footer class="footer footer-default">
  <h2>MASTRO</h2>
  <div class="footer-links">
    <a routerLink="/contactus" class="btn btn-link btn-danger mr-2 underline"
      >Contact</a
    >
  </div>
  <p style="text-align: center; white-space: pre-wrap" class="mt-2">
    <strong
      ><em data-selected="true" data-label-id="0"
        >© 2022 MASTRO. All rights reserved.</em
      ></strong
    >
  </p>
  <div class="mt-2">
    <p>
      <strong>Disclaimer:</strong>
      The information provided on this website does not, and is not intended to,
      constitute legal or financial advice. All information, content, and
      materials available herein are for general informational purposes only.
      You should always seek legal counsel and make your own final assessment
      when considering real estate and financial decisions.
    </p>
  </div>
</footer>
